# Database
DATABASE_URL="postgresql://user:password@localhost:5432/image_saas"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-at-least-32-chars"
AUTH_GITHUB_ID="your-github-client-id"
AUTH_GITHUB_SECRET="your-github-client-secret"

# AI Service (Ollama)
OLLAMA_BASE_URL="http://localhost:11434"
# Embedding model for RAG
OLLAMA_EMBEDDING_MODEL="qwen:14b"
